
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
}

body {
  background-image: url('/assets/copyroom_background.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
}

@font-face {
  font-family: "bubble";
  src: url("/assets/04B_30__.ttf");
}

@font-face {
  font-family: "upheaval";
  src: url("/assets/upheavtt.ttf");
}

